In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [54]:
data = pd.read_html('https://www.nzz.ch/sport/live-resultate/fussball/super-league/ergebnisse-und-tabelle/')

In [55]:
table = data[0]
print(table)

   #  Unnamed: 1           Mannschaft Mannschaft.1 Mannschaft.2  Sp.  S  U  N  \
0  1         NaN       BSC Young Boys   Young Boys           YB    0  0  0  0
1  1         NaN             FC Basel     FC Basel          BAS    0  0  0  0
2  1         NaN            FC Lugano    FC Lugano          LUG    0  0  0  0
3  1         NaN            FC Luzern    FC Luzern          LUZ    0  0  0  0
4  1         NaN              FC Sion      FC Sion          SIO    0  0  0  0
5  1         NaN        FC St. Gallen   St. Gallen           SG    0  0  0  0
6  1         NaN              FC Thun      FC Thun          THU    0  0  0  0
7  1         NaN            FC Zürich    FC Zürich          FCZ    0  0  0  0
8  1         NaN  Neuchâtel Xamax FCS    Neuchâtel          XAM    0  0  0  0
9  1         NaN      Servette Genève     Servette          SFC    0  0  0  0

  Tore  Diff.  Pkt.
0  0:0      0     0
1  0:0      0     0
2  0:0      0     0
3  0:0      0     0
4  0:0      0     0
5  0:0      0     0
6  0:0      0     0
7  0:0      0     0
8  0:0      0     0
9  0:0      0     0

In [56]:
df = pd.DataFrame(table)
df.head()

,#,Unnamed: 1,Mannschaft,Mannschaft.1,Mannschaft.2,Sp.,S,U,N,Tore,Diff.,Pkt.
0,1,NaN,BSC Young Boys,Young Boys,YB,0,0,0,0,0:0,0,0
1,1,NaN,FC Basel,FC Basel,BAS,0,0,0,0,0:0,0,0
2,1,NaN,FC Lugano,FC Lugano,LUG,0,0,0,0,0:0,0,0
3,1,NaN,FC Luzern,FC Luzern,LUZ,0,0,0,0,0:0,0,0
4,1,NaN,FC Sion,FC Sion,SIO,0,0,0,0,0:0,0,0